<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}Seguimiento de pedidos - SMTank.com{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta description="{% block description %}Consulta el estado de tus pedidos realizados en SMTank.com{% endblock %}">
    <meta name="robots" content="{% block index %}index, follow{% endblock %}">
    <meta name="author" content="SMTank.com">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><b>Localizador de pedidos - SMTank.com</b></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('backend') }}"><span class="glyphicon glyphicon-cog"></span> Acceder a Backend</a></li>{% endif %}
                    <li><a href="{{ url('order_tracking_frontend_homepage') }}"><span class="glyphicon glyphicon-home"></span> Página de inicio</a></li>
                    <li><a href="http://smtank.com"><span class="glyphicon glyphicon-shopping-cart"></span> Volver a la tienda</a></li>
                </ul>
            </div>
    </nav>
</header>
<div class="container" style="{% block containerStyles %}padding: 60px 15px 0;{% endblock %}">
{% block body %}{% endblock %}
</div>
    <footer class="footer" style="bottom: 0; position: absolute; width: 100%; height: 60px; background-color: #f5f5f5;">
        <div class="container" style="padding-right: 15px; padding-left: 15px;">
            <p class="text-muted" style="margin: 20px 0;">Copyright © {{ 'now'|date('Y') }} <a href="http://smtank.com">SMTank.com</a>. Todos los derechos reservados.</p>
        </div>
    </footer>
<script src="{{ asset('bundles/ordertrackingfrontend/js/jquery1.11.2/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/ordertrackingfrontend/css/bootstrap3.3.4/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
{% block afterjavascript %}{% endblock %}
</body>
</html>
