{% extends "::base.html.twig" %}
{% block title %}Información sobre tu pedido #{{ entity.codigoSeguimiento }}{% endblock %}
{% block description %}{% endblock %}
{% block index %}noindex, nofollow{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1>Pedidos</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fechainicio</th>
            <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechacompletado</th>
            <td>{{ entity.fechaCompletado|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Nombrecliente</th>
            <td>{{ entity.nombreCliente }}</td>
        </tr>
        <tr>
            <th>Emailcliente</th>
            <td>{{ entity.emailCliente }}</td>
        </tr>
        <tr>
            <th>Nombreproducto</th>
            <td>{{ entity.nombreProducto }}</td>
        </tr>
        <tr>
            <th>Precioproducto</th>
            <td>{{ entity.precioProducto }}</td>
        </tr>
        <tr>
            <th>Estadopedido</th>
            {% if entity.estadoPedido == 'pendiente' %}
                <td><span class="label label-warning">{{ entity.estadoPedido }}</span></td>
            {% elseif entity.estadoPedido == 'completado' %}
                <td><span class="label label-success">{{ entity.estadoPedido }}</span></td>
            {% elseif entity.estadoPedido == 'cancelado' %}
                <td><span class="label label-danger">{{ entity.estadoPedido }}</span></td>
            {% endif %}
        </tr>
        <tr>
            <th>Codigoseguimiento</th>
            <td>{{ entity.codigoSeguimiento }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}{% endblock %}
