{% extends '::base_backend.html.twig' %}
{% block title %}Backend - SMTank.com{% endblock %}
{% block description %}{% endblock %}
{% block index %}noindex, nofollow{% endblock %}
{% block body %}
    <a href="{{ path('backend_logs') }}"><button type="button" class="btn btn-danger" style="float: left;"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Ver logs</button></a>
    <a href="{{ path('backend_new') }}"><button type="button" class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir nuevo pedido</button></a>
    <br>
    <h1>Lista de pedidos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha inicio</th>
                <th>Fecha completado</th>
                <th>Nombre cliente</th>
                <th>Email cliente</th>
                <th>Nombre producto</th>
                <th>Precio producto</th>
                <th>Estado pedido</th>
                <th>Codigo seguimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaCompletado %}{{ entity.fechaCompletado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nombreCliente }}</td>
                <td>{{ entity.emailCliente }}</td>
                <td>{{ entity.nombreProducto }}</td>
                <td>{{ entity.precioProducto }}€</td>
                <td>{% if entity.estadoPedido == 'pendiente' %}
                <span class="label label-warning">Pendiente</span>
                {% elseif entity.estadoPedido == 'en progreso' %}
                <span class="label label-primary">En progreso</span>
                {% elseif entity.estadoPedido == 'completado' %}
                <span class="label label-success">Completado</span>
                {% elseif entity.estadoPedido == 'cancelado' %}
                 <span class="label label-danger">Cancelado</span>
                {% endif %}</td>
                <td>{{ entity.codigoSeguimiento }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('backend_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
