{% extends '::base_backend.html.twig' %}
{% block title %}Backend - SMTank.com{% endblock %}
{% block description %}{% endblock %}
{% block index %}noindex, nofollow{% endblock %}
{% block body %}
    <a href="{{ path('backend') }}"><button type="button" class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Volver a Inicio</button></a>
    <br>
    <h1>Logs</h1>
    {% if logs|length == 0 %}
        <div class="alert alert-info" role="alert" style="text-align: center">No hay <b>logs</b> para mostrar.</div>
    {% else %}
        <table class="table table-hover">
            <tbody>
            {% for log in logs %}
                <tr>
                    <td><b>{{ log.pedido.nombreCliente }}</b> ha comprobado el pedido <b><a href="{{ path('backend_show', {id: log.pedido.id}) }}">#{{ log.pedido.id }}</a></b> a las <b>{{ log.fechaCheck|date('H:i:s - d-m-Y') }}</b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}