{% extends '::base_backend.html.twig' %}
{% block title %}Backend - SMTank.com{% endblock %}
{% block body -%}
    <h1>Información pedido</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha inicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if entity.fechaCompletado != NULL %}
            <tr>
                <th>Fecha completado</th>
                <td>{{ entity.fechaCompletado|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% else %}
            <tr>
                <th>Fecha completado</th>
                <td>No completado <span class="glyphicon glyphicon-time" aria-hidden="true"></span></td>
            </tr>
            {% endif %}
            <tr>
                <th>Nombre cliente</th>
                <td>{{ entity.nombreCliente }}</td>
            </tr>
            <tr>
                <th>Email cliente</th>
                <td>{{ entity.emailCliente }}</td>
            </tr>
            <tr>
                <th>Nombre producto</th>
                <td>{{ entity.nombreProducto }}</td>
            </tr>
            <tr>
                <th>Precio producto</th>
                <td>{{ entity.precioProducto }}</td>
            </tr>
            <tr>
                <th>Estado pedido</th>
                <td>{{ entity.estadoPedido }}</td>
            </tr>
            <tr>
                <th>Codigo seguimiento</th>
                <td>{{ entity.codigoSeguimiento }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend') }}">
            Volver a inicio
        </a>
    </li>
    <li>
        <a href="{{ path('backend_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
